<h1>Admin dashboard</h1>
<div class="room-filter">
  <%= link_to "Available rooms today", rooms_path(q: :available),
        class: active_class(rooms_path(q: :available), root_path, rooms_path) %>

  <%= link_to "Booked rooms today", rooms_path(q: :booked),
        class: active_class(rooms_path(q: :booked)) %>
</div>
<div class="rooms-list">
  <ul>
    <% @reservations.each do |reservation| %>
      <li>
        <div class="room-name">
          #<%= reservation.room.number %> - <%= reservation.room.name %>
        </div>
        <div class="room-description">
          <%= reservation.room.description %>
        </div>
        <div class="room-price">
          Price per day: <%= reservation.room.price_per_day %> &euro;
        </div>
        <div class="room-pictures"></div>
      </li>
    <% end %>
  </ul>
</div>