<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="room-name">
      <h1>#<%= @room.number %> - <%= @room.name %></h1>
    </div>
    <div class="room-images">
      <% @room.images.each do |image| %>
        <%= image_tag image.url %>
      <% end %>
    </div>
    <div class="room-description">
      <%= @room.description %>
    </div>
    <div class="room-price">
      Price per day: <strong><%= @room.price_per_day %> &euro;</strong>
    </div>
    <div class="room-reservations">
      <%= form_with(model: @reservation,
                    url: [@room, @reservation],
                    local: true) do |form| %>
        <h3>Booking</h3>
          <%= render 'shared/error_messages', object: form.object %>
          <div>
            <%= form.label :check_in_at, "Check in at:" %>
            <%= form.date_field :check_in_at, class: "form-control", min: Date.today %>

            <%= form.label :check_out_at, "Check out at:" %>
            <%= form.date_field :check_out_at, class: "form-control", min: Date.today %>

            <%= form.submit "Make reservation", name: nil, class: 'btn btn-primary' %>
          </div>
        <% end %>
    </div>
  </div>
</div>